{% extends 'include/base.html' %}
{% block content %}

    <a href="{% url 'home:update' post.id %}"><button class="btn btn-info">update</button></a>
    <a href="{% url 'home:delete' post.id post.slug %}"><button class="btn btn-danger">delete</button></a>
    <h6>user :{{ post.user.username }}</h6>
    <h6>title: {{ post.title }}</h6>
    <p>{{ post.body }}</p>
    <h6> comments:</h6>
    {% for comment in comments %}
        <a href="{% url 'home:profiles' comment.user.id %}"> comments by {{ comment.user }}</a>
        <br>
        <a class="btn-dark" href="{% url 'home:replay' comment.id %}"> replay </a>

        <p> {{ comment.body }}</p>
        <br>
        {% if comment.replays %}
            {% for replay in comment.replays.all %}
                <h6> user: {{ replay.user }} </h6>
                <p> {{ replay.body }} </p>
            {% endfor %}
        {% endif %}
    {% endfor %}
<form method="post">
{% csrf_token %}
  <textarea id="bodey" name="body" rows="4" cols="50" placeholder="body ..."></textarea>
  <br>
  <input type="submit" value="Submit">
</form>


{% endblock content %}