{% extends 'include/base.html' %}

{% block content %}
    {% include 'include/message.html' %}
    <h3> users of mini </h3>
    {% if request.user.is_authenticated %}
        {% for user in users %}
            <a class="page-item" href="{% url 'home:profiles' user.id %}"> {{ user.username }}</a>
            <br>
        {% endfor %}
    {% endif %}

    {% if request.user.is_authenticated %}
        <center>
    {% else %}
    <a class="submit-row" href="{% url 'accounts:register' %}"> register </a>
    {% endif %}

{% endblock content %}